::before,::after,*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONFIG PARAMETER */
.light-bold {
  font-weight: 500;
}

/* LENIS */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* HEADER */
header {
  border: 1px solid black;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 200px; */
}
.logo {
  display: flex;
}
.l1,.k,.q,.m,.l2,.r {
  margin: 0 5px;
  padding-top: 5px;
  background-color: #E4E4E4;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-family: "Josefin Slab";
  font-weight: 700;
}
.l1 {
  color: #0A8754;
  border: 1px solid rgba(10, 135, 84, 0.25);
  box-shadow: inset 0 -6px rgba(10, 135, 84, 0.5);
}
.k {
  color: #EA3C76;
  border: 1px solid rgba(234, 60, 118, 0.25);
  box-shadow: inset 0 -6px rgba(234, 60, 118, 0.5);
}
.q {
  color: #CD8987;
  border: 1px solid rgba(205, 137, 135, 0.25);
  box-shadow: inset 0 -6px rgba(205, 137, 135, 0.5);
}
.m {
  color: #4C6085;
  border: 1px solid rgba(76, 96, 133, 0.25);
  box-shadow: inset 0 -6px rgba(76, 96, 133, 0.5);
}
.l2 {
  color: #F46036;
  border: 1px solid rgba(244, 96, 54, 0.25);
  box-shadow: inset 0 -6px rgba(244, 96, 54, 0.5);
}
.r {
  color: #004BA8;
  border: 1px solid rgba(0, 75, 168, 0.25);
  box-shadow: inset 0 -6px rgba(0, 75, 168, 0.5);
}

/* MAIN */
.main {
  position: relative;
  height: 200vh;
  display: flex;
  flex-direction: column;
}

.sprite {
  position: absolute;
  width: 105px;
  height: 105px;
  top: 25vh;
  left: 90vw;
  transform: translateX(-50%);
}
.sprite:nth-child(-n+2) {
  visibility: hidden;
}
.bubble {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 12px;
  line-height: 1.6;
  text-align: center;
}
.bubble p {
  padding: 0 5px;
  margin: 10px 5px;
  font-size: clamp(16px, 2vw, 32px);
}
.card-1 {
  position: absolute;
  top: 5vh;
  left: 50vw;
  transform: translateX(-50%);
  width: 60%;
  min-height: 225px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid rgba(10, 135, 84, 0.5);
  border-top: 2px solid rgba(10, 135, 84, 0.5);
  border-right: 1px solid rgba(10, 135, 84, 0.5);


  box-shadow: inset 0 -6px rgba(10, 135, 84, 0.5);
}
.card-2 {
  position: absolute;


  top: 43vh;
  left: 22vw;
  transform: translateX(-50%);
  width: 65%;
  text-align: center;
  transform: scale(0);

  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid rgba(234, 60, 118, 0.25);
  border-top: 2px solid rgba(234, 60, 118, 0.25);
  border-right: 2px solid rgba(234, 60, 118, 0.25);
  box-shadow: inset 0 -6px rgba(234, 60, 118, 0.5);
}

/* WELCOME SECTION */
.welcome_section {
  border: 1px solid black;
  /* background-color: #004ca84d; */
  height: 80vh;
}
.apropos_section {
  border: 1px solid black;
  background-color: #cd898794;
  height: 80vh;
}

/* ------------ MEDIA QUERY ------------ */
@media screen and (min-width: 960px) {
  /* HEADER */
  header {
    padding-left: 16px;
    display: flex;
    justify-content: start;
  }

  /* MAIN */
  .sprite {
    width: 180px;
    height: 180px;
    /* left: 40vw; */
  }
}