::before,::after,*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  border: 1px solid black;
  height: 90px;
  padding-left: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo {
  display: flex;
}
.l1,.k,.q,.m,.l2,.r {
  margin: 0 5px;
  padding-top: 5px;
  background-color: #E4E4E4;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-family: "Josefin Slab";
  font-weight: 700;
}
.l1 {
  color: #0A8754;
  box-shadow: inset 0 -6px rgba(10, 135, 84, 0.5); /* 50% d'opacité */
}
.k {
  color: #EA3C76;
  box-shadow: inset 0 -6px rgba(234, 60, 118, 0.5);
}
.q {
  color: #CD8987;
  box-shadow: inset 0 -6px rgba(205, 137, 135, 0.5);
}
.m {
  color: #4C6085;
  box-shadow: inset 0 -6px rgba(76, 96, 133, 0.5);
}
.l2 {
  color: #F46036;
  box-shadow: inset 0 -6px rgba(244, 96, 54, 0.5);
}
.r {
  color: #004BA8;
  box-shadow: inset 0 -6px rgba(0, 75, 168, 0.5);
}
