// CONFIG
*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    height: 150vh;
}
body {
    font-family: 'Poppins';
}

// HEADER
.header {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo {
        font-size: 3rem;
        font-weight: bold;
        cursor: pointer;
    }
    #navbar {
        .burger-menu {
            position: relative;
            .burger-bar {
                height: 2.5px;
                background-color: black;
                width: 35px;
                margin: 6.5px 0;
            }
        }
        .nav-link {
            position: absolute;
            top: -100%;
            background-color: white;
            list-style: none;
            display: flex;
            flex-direction: column;

            padding: 5px 5px;
            text-align: center;
            margin-left: -40px;

            transition: 0.2s ease;
            li,a {
                font-size: 2.5rem;
                font-weight: 400;
                color: #333;
                text-decoration: none;
            }
        }
    }
    #navbar.active>.nav-link {
        top: 10%;
        animation: opacity-navbar 0.8s ease-in-out;
    }
} 

// SECTION A PROPOS
.hero__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    
    .img__container {
        img {
            height: 150px;
            border-radius: 50%;
        }
    }

    .content__container {
        p:first-child {
            font-size: 1.4rem;
            text-align: center;
            font-weight: 600;
            color: #999999  ;
        }
        p {
            text-align: center;
            font-size: 1.7rem;
            font-weight: 600;
            color: #999999 ;

        }

        h1 {
            font-size: 4rem;
            line-height: 1.3;
            text-align: center;
            color: #333;
        }

        .personal-link__container {
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                font-size: 1.4rem;
                text-align: center;
                text-decoration: none;
                border: 1px solid black;
                padding: 10px 0;
                width: 135px;
                border-radius: 30px;
            }
        }

        .socialmedia__container {
            display: flex;
            justify-content: space-evenly;
            margin: 10px 0;

            img {
                height: 35px;
            }
        }
    }
}


@keyframes opacity-navbar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




// MEDIA QUERY DESKTOP
@media screen and (min-width: 700px) {

// HEADER
    .header {
        #navbar {
            .burger-menu {
                display: none;
            }
            .nav-link {
                position: relative;
                flex-direction: row;
                
                a{
                    margin: 0 25px;
                }
            }
        }
    }

// SECTION A PROPOS

    .hero__section {
        flex-direction: row;
        padding: 50px 0;
        
        .img__container {
            img {
                height: 350px;
                border-radius: 50%;
                margin: 0 25px;
            }
        }

        .content__container {
            margin: 0 25px;
            margin-right: 150px;

            .personal-link__container {
                flex-direction: row;

                a {
                    margin: 0 5px;
                    margin-top: 20px;
                    font-weight: 600;
                    color: #333;
                }
            }

            .socialmedia__container {
                display: flex;
                justify-content: space-around;
            }
        }
    }

}