// CONFIG
*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    font-family: 'Poppins';
}

// HEADER
.header {
    height: 15vh;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo {
        font-size: 2rem;
        cursor: pointer;
    }
    #navbar {
        .burger-menu {
            position: relative;
            .burger-bar {
                height: 2.5px;
                background-color: black;
                width: 35px;
                margin: 6.5px 0;
            }
        }
        .nav-link {
            position: absolute;
            top: -100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            // border: 1px solid black;
            padding: 5px 5px;
            text-align: center;
            margin-left: -35px;
            width: 105px;
            transition: 0.3s ease;
            li,a {
                font-size: 1.8rem;
                text-decoration: none;
            }
        }
    }
    #navbar.active>.nav-link {
        top: 10%;
    }
} 
